.Title{
    color: red;
}
.info{
    color: green;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Cambria';

}
.style{
    font-size: 14px;
    color: black;
}
.style2{
    width: 250px;
    height: 250px;
}
